@page "/staffs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Staff</h3>
<hr />
<br />

<EditForm Model="@staff" OnValidSubmit="CreateStaff">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="@staff.StaffName" class="form-control" />
            <ValidationMessage For="@(() => staff.StaffName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <div>
            <InputText @bind-Value="@staff.Email" class="form-control" />
            <ValidationMessage For="@(() => staff.Email)" />
        </div>
    </div>

    <div class="form-group">
        <label>Age:</label>
        <div>
            <InputText @bind-Value="@staff.Age" class="form-control" />
            <ValidationMessage For="@(() => staff.Age)" />
        </div>
    </div>

    <div class="form-group">
        <label>Contact Number: </label>
        <div>
            <InputText @bind-Value="@staff.ContactNum" class="form-control" />
            <ValidationMessage For="@(() => staff.ContactNum)" />
        </div>
    </div>

    <div class="form-group">
        <label>Location: </label>
        <div>
            <InputText @bind-Value="@staff.StaffLocation" class="form-control" />
            <ValidationMessage For="@(() => staff.StaffLocation)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        Create Staff
    </button>
    <BackToList Target="matches" />
</EditForm>

@code { Staff staff = new Staff();

    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffs/");
    } }